// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

// Variables
@import 'variables';
.navbar-dark .navbar-nav .nav-link {
color: rgba(255, 255, 255, 0.9) !important;
}
.logo{
    height: 70px !important;
}
.navbar{
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.event{
    height: 100% !important;
}
.event_thumb{
    max-width: 100%;
}
// Bootstrap
@import '~bootstrap/scss/bootstrap';
